<footer>
  <div class="container">
    <div class="navbar">
      <div class="footer-brand">
        <a href="/#splash" aria-label="Back to top of home page">
          <svg class="logo" xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 0 500 300" version="1.1"
            stroke="none" fill="currentColor" fill-rule="evenodd">
            <path
              d="M 261.672 71.819 C 259.567 72.848, 253.222 78.297, 247.572 83.928 C 241.921 89.560, 236.253 94.692, 234.976 95.333 C 232.273 96.691, 229.178 101.563, 229.073 104.628 C 229.033 105.798, 228.355 107.291, 227.566 107.945 C 225.939 109.296, 215 130.868, 215 132.726 C 215 133.393, 214.100 135.542, 213 137.500 C 211.900 139.458, 211 141.921, 211 142.971 C 211 144.022, 210.550 145.160, 210 145.500 C 209.450 145.840, 209 147.190, 209 148.500 C 209 149.810, 208.550 151.160, 208 151.500 C 207.450 151.840, 207 153.640, 207 155.500 C 207 157.360, 206.550 159.160, 206 159.500 C 205.450 159.840, 205 161.640, 205 163.500 C 205 165.360, 204.550 167.160, 204 167.500 C 202.660 168.328, 202.660 199.672, 204 200.500 C 204.550 200.840, 205 201.998, 205 203.073 C 205 209.099, 222.921 227, 228.954 227 C 229.859 227, 231.133 227.533, 231.785 228.185 C 241.024 237.424, 287 217.612, 287 204.391 C 287 203.761, 287.643 202.712, 288.428 202.060 C 297.552 194.487, 306.629 161.594, 301 156.500" />
          </svg>
        </a>
      </div>
      <div class="nav-links">
        <a href="https://github.com/dgsmith7" target="_blank" rel="noopener noreferrer" class="nav-link">GitHub</a>
        <a href="https://www.instagram.com/davidgailsmith/" target="_blank" rel="noopener noreferrer"
          class="nav-link">Instagram</a>
        <a href="https://twitter.com/DavidGailSmith" target="_blank" rel="noopener noreferrer"
          class="nav-link">Twitter</a>
        <a href="https://www.linkedin.com/in/davidgsmith/" target="_blank" rel="noopener noreferrer"
          class="nav-link">LinkedIn</a>
      </div>
    </div>

    <p class="copyright">
      &copy; <span id="current-year"></span>
      <a href="https://www.dgs-creative.com" target="_blank" rel="noopener noreferrer">DGS Creative, LLC</a>.
      All rights reserved.
    </p>
  </div>

  <script>
    // Set current year in copyright notice
    document.getElementById('current-year').textContent = new Date().getFullYear();
  </script>
</footer>