<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="./images/favicon.ico">
    <title>The Owl Cam</title>
    <meta name="author" content="David G. Smith">
    <meta name="description" content="An owl cam in a large oak in suburban Dallas.">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="canonical" href="https://www.davidgailsmith.com" />
    <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&family=Jura&family=Share+Tech+Mono&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/owlStyle.css">
</head>

<body>


    <!-- Header -->
    <header id="home" class="container text-light">
        <nav id="header" class="bhf-light navbar navbar-expand fixed-top">
            <div class="container-fluid">
                <div>
                    <a class="navbar-brand" href="/#splash" aria-label="Back to top of home page" role="link">
                        <!-- <img id="header-logo" class="me-auto" src="../images/favicon.ico" height="45" alt="artist's icon"> -->
                        <svg id="header-logo" class="logo-light" xmlns="http://www.w3.org/2000/svg" height="45"
                            viewBox="0 0 500 300" version="1.1" stroke="none" fill="#000000" fill-rule="evenodd">
                            <path
                                d="M 261.672 71.819 C 259.567 72.848, 253.222 78.297, 247.572 83.928 C 241.921 89.560, 236.253 94.692, 234.976 95.333 C 232.273 96.691, 229.178 101.563, 229.073 104.628 C 229.033 105.798, 228.355 107.291, 227.566 107.945 C 225.939 109.296, 215 130.868, 215 132.726 C 215 133.393, 214.100 135.542, 213 137.500 C 211.900 139.458, 211 141.921, 211 142.971 C 211 144.022, 210.550 145.160, 210 145.500 C 209.450 145.840, 209 147.190, 209 148.500 C 209 149.810, 208.550 151.160, 208 151.500 C 207.450 151.840, 207 153.640, 207 155.500 C 207 157.360, 206.550 159.160, 206 159.500 C 205.450 159.840, 205 161.640, 205 163.500 C 205 165.360, 204.550 167.160, 204 167.500 C 202.660 168.328, 202.660 199.672, 204 200.500 C 204.550 200.840, 205 201.998, 205 203.073 C 205 209.099, 222.921 227, 228.954 227 C 229.859 227, 231.133 227.533, 231.785 228.185 C 241.024 237.424, 287 217.612, 287 204.391 C 287 203.761, 287.643 202.712, 288.428 202.060 C 297.552 194.487, 306.629 161.594, 301 156.500 C 299.900 155.505, 299 154.176, 299 153.548 C 299 147.913, 280.362 141.369, 277.500 146 C 277.160 146.550, 274.460 147, 271.500 147 C 268.540 147, 265.840 147.450, 265.500 148 C 265.160 148.550, 262.068 149, 258.628 149 C 253.081 149, 252.070 149.317, 249.687 151.805 C 242.451 159.358, 250.164 177, 260.703 177 C 263.066 177, 265 177.156, 265 177.346 C 265 178.433, 261.733 183.977, 260.479 185.017 C 259.666 185.692, 259 186.795, 259 187.467 C 259 188.140, 258.100 189.505, 257 190.500 C 255.900 191.495, 255 192.827, 255 193.459 C 255 195.769, 245.670 203, 242.688 203 C 237.904 203, 233.657 177.184, 238 174.500 C 238.550 174.160, 239 172.360, 239 170.500 C 239 168.640, 239.450 166.840, 240 166.500 C 240.550 166.160, 241 164.810, 241 163.500 C 241 162.190, 241.450 160.840, 242 160.500 C 242.550 160.160, 243 158.810, 243 157.500 C 243 156.190, 243.450 154.840, 244 154.500 C 244.550 154.160, 245 153.123, 245 152.196 C 245 150.006, 259.715 120.481, 261.577 118.936 C 262.360 118.287, 263 117.205, 263 116.533 C 263 115.860, 263.900 114.495, 265 113.500 C 266.100 112.505, 267 111.182, 267 110.561 C 267 108.879, 277.323 99, 279.081 99 C 282.479 99, 283 101.193, 283 115.488 C 283 130.193, 287.392 139, 294.725 139 C 295.911 139, 297.160 139.450, 297.500 140 C 299.954 143.971, 311 138.451, 311 133.254 C 311 132.079, 311.450 130.840, 312 130.500 C 312.550 130.160, 313 128.360, 313 126.500 C 313 124.640, 313.450 122.840, 314 122.500 C 316.385 121.026, 315.192 93.779, 312.507 88.390 C 305.198 73.723, 276.745 64.448, 261.672 71.819 M 129.500 72 C 129.160 72.550, 126.559 73, 123.720 73 C 114.004 73, 101.308 90.364, 108 94.500 C 108.550 94.840, 109 95.978, 109 97.029 C 109 98.079, 109.927 100.590, 111.061 102.609 C 112.514 105.196, 112.809 106.591, 112.061 107.339 C 111.477 107.923, 111 109.858, 111 111.641 C 111 113.424, 110.550 115.160, 110 115.500 C 109.450 115.840, 109 117.190, 109 118.500 C 109 119.810, 108.550 121.160, 108 121.500 C 107.450 121.840, 107 123.190, 107 124.500 C 107 125.810, 106.550 127.160, 106 127.500 C 105.450 127.840, 105 129.190, 105 130.500 C 105 131.810, 104.550 133.160, 104 133.500 C 103.450 133.840, 103 135.190, 103 136.500 C 103 137.810, 102.550 139.160, 102 139.500 C 101.450 139.840, 101 141.640, 101 143.500 C 101 145.360, 100.550 147.160, 100 147.500 C 99.450 147.840, 99 149.190, 99 150.500 C 99 151.810, 98.550 153.160, 98 153.500 C 97.450 153.840, 97 155.190, 97 156.500 C 97 157.810, 96.550 159.160, 96 159.500 C 95.450 159.840, 95 161.640, 95 163.500 C 95 165.360, 94.550 167.160, 94 167.500 C 93.450 167.840, 93 169.190, 93 170.500 C 93 171.810, 92.550 173.160, 92 173.500 C 91.450 173.840, 91 175.640, 91 177.500 C 91 179.360, 90.550 181.160, 90 181.500 C 89.450 181.840, 89 183.126, 89 184.359 C 89 185.592, 88.483 187.117, 87.850 187.750 C 77.157 198.443, 97.806 229.603, 115.455 229.407 C 123.855 229.313, 147.857 219.492, 152.060 214.428 C 152.712 213.643, 153.758 213, 154.384 213 C 155.857 213, 187 181.834, 187 180.361 C 187 179.747, 187.645 178.709, 188.434 178.055 C 190.297 176.509, 201 155, 201 152.802 C 201 151.876, 201.450 150.840, 202 150.500 C 202.550 150.160, 203 148.810, 203 147.500 C 203 146.190, 203.450 144.840, 204 144.500 C 204.610 144.123, 205 136.509, 205 125 C 205 113.491, 204.610 105.877, 204 105.500 C 203.450 105.160, 203 104.095, 203 103.134 C 203 97.780, 190.119 79, 186.447 79 C 185.822 79, 184.495 78.100, 183.500 77 C 182.505 75.900, 180.661 75, 179.404 75 C 178.147 75, 176.840 74.550, 176.500 74 C 176.160 73.450, 174.810 73, 173.500 73 C 172.190 73, 170.840 72.550, 170.500 72 C 170.122 71.388, 162.176 71, 150 71 C 137.824 71, 129.878 71.388, 129.500 72 M 366.232 73.467 C 363.885 74.708, 361.149 76.460, 360.153 77.361 C 359.157 78.263, 357.920 79, 357.402 79 C 356.093 79, 337 98.290, 337 99.613 C 337 100.205, 336.100 101.505, 335 102.500 C 333.900 103.495, 333 104.837, 333 105.481 C 333 106.125, 331.863 107.719, 330.474 109.024 C 327.575 111.748, 325 116.485, 325 119.095 C 325 120.078, 324.550 121.160, 324 121.500 C 323.450 121.840, 323 123.190, 323 124.500 C 323 125.810, 322.550 127.160, 322 127.500 C 321.450 127.840, 321 132.115, 321 137 C 321 141.885, 321.450 146.160, 322 146.500 C 322.550 146.840, 323 147.915, 323 148.890 C 323 153.834, 328.639 161.119, 345.646 178.146 C 360.942 193.460, 363.175 196.085, 362.053 197.436 C 358.813 201.340, 341.479 197.896, 336.960 192.452 C 336.297 191.653, 335.214 191, 334.552 191 C 333.890 191, 332.281 189.863, 330.976 188.474 C 326.419 183.624, 311.636 180.544, 309.500 184 C 309.160 184.550, 307.853 185, 306.596 185 C 303.864 185, 301 187.885, 301 190.636 C 301 196.703, 317.192 219, 321.599 219 C 322.235 219, 323.299 219.655, 323.963 220.456 C 329.353 226.951, 361.456 232.925, 364.500 228 C 364.840 227.450, 365.922 227, 366.905 227 C 372.065 227, 388.080 212.330, 392.542 203.516 C 399.249 190.268, 396.969 184.442, 377.464 164.989 C 367.819 155.370, 359.269 146.193, 358.464 144.596 C 356.788 141.272, 356.519 135.416, 358 134.500 C 358.550 134.160, 359 132.810, 359 131.500 C 359 130.190, 359.450 128.840, 360 128.500 C 360.550 128.160, 361 127.002, 361 125.927 C 361 122.452, 377.313 103, 380.228 103 C 381.837 103, 380.950 112.027, 379 115.500 C 377.900 117.458, 377 120.371, 377 121.971 C 377 123.572, 376.550 125.160, 376 125.500 C 370.308 129.018, 377.492 146.583, 386.736 151.750 C 393.836 155.718, 405 149.480, 405 141.544 C 405 140.728, 405.900 138.458, 407 136.500 C 408.100 134.542, 409 132.079, 409 131.029 C 409 129.978, 409.450 128.840, 410 128.500 C 410.550 128.160, 411 126.424, 411 124.641 C 411 122.858, 411.442 120.958, 411.983 120.417 C 414.254 118.146, 414.425 96.821, 412.212 91.999 C 405.212 76.745, 379.577 66.413, 366.232 73.467 M 148.250 107.707 C 147.563 109.188, 147 110.970, 147 111.669 C 147 112.368, 146.100 114.542, 145 116.500 C 143.900 118.458, 143 120.921, 143 121.971 C 143 123.022, 142.550 124.160, 142 124.500 C 141.450 124.840, 141 126.190, 141 127.500 C 141 128.810, 140.550 130.160, 140 130.500 C 139.450 130.840, 139 132.190, 139 133.500 C 139 134.810, 138.550 136.160, 138 136.500 C 137.450 136.840, 137 138.190, 137 139.500 C 137 140.810, 136.550 142.160, 136 142.500 C 135.450 142.840, 135 144.190, 135 145.500 C 135 146.810, 134.550 148.160, 134 148.500 C 133.450 148.840, 133 150.190, 133 151.500 C 133 152.810, 132.550 154.160, 132 154.500 C 131.450 154.840, 131 156.190, 131 157.500 C 131 158.810, 130.550 160.160, 130 160.500 C 129.450 160.840, 129 162.640, 129 164.500 C 129 166.360, 128.550 168.160, 128 168.500 C 127.450 168.840, 127 170.190, 127 171.500 C 127 172.810, 126.550 174.160, 126 174.500 C 125.450 174.840, 125 176.190, 125 177.500 C 125 178.810, 124.550 180.160, 124 180.500 C 123.450 180.840, 123 182.640, 123 184.500 C 123 186.360, 122.550 188.160, 122 188.500 C 121.094 189.060, 120.522 193, 121.346 193 C 122.433 193, 127.977 189.733, 129.017 188.479 C 129.692 187.666, 130.795 187, 131.467 187 C 132.140 187, 133.505 186.100, 134.500 185 C 135.495 183.900, 136.814 183, 137.430 183 C 138.857 183, 153 168.813, 153 167.381 C 153 166.792, 153.900 165.495, 155 164.500 C 156.100 163.505, 157 162.140, 157 161.467 C 157 160.795, 157.649 159.706, 158.443 159.048 C 160.307 157.501, 169 140.006, 169 137.801 C 169 136.876, 169.450 135.840, 170 135.500 C 172.968 133.666, 171.102 111.491, 167.702 108.196 C 162.988 103.627, 150.293 103.307, 148.250 107.707" />
                        </svg> </a>
                </div>

                <div class="collapse navbar-collapse" id="collapse-items">
                </div>

                <div class="me-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                        class="bi bi-brightness-alt-high-fill" viewBox="0 0 16 16">
                        <path
                            d="M8 3a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 3m8 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5m-13.5.5a.5.5 0 0 0 0-1h-2a.5.5 0 0 0 0 1zm11.157-6.157a.5.5 0 0 1 0 .707l-1.414 1.414a.5.5 0 1 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0m-9.9 2.121a.5.5 0 0 0 .707-.707L3.05 5.343a.5.5 0 1 0-.707.707zM8 7a4 4 0 0 0-4 4 .5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5 4 4 0 0 0-4-4" />
                    </svg>
                </div>
                <div id="dm-switch" class="text-end form-check form-switch">
                    <input id="dark-mode-switch" class="dm-switch-light form-check-input" type="checkbox" role="switch">
                </div>

                <div class="d-none">
                    <a href="/login"><button id="login-button" type="button"
                            class="shadow ms-3 me-2 buttons-light btn btn-outline-light">Log
                            in</button></a>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div>class="container-fluid m-3">
            <!-- Sections for different content areas -->
            <!-- Splash image and call to action -->
            <div class="spacer"></div>
            <section id="splash" class="m-1">
                <div class="container col-10">

                    <div class="row justify-content-center align-items-center text-center">
                        <div>
                            <h2>The owl cam is currently being repaied. Nesting season starts mid-late February. Come
                                back soon to check.</h2>
                            <h1 class="fs-2 lh-1 mb-3 fst-italic"><span class="fw-bold">Owl
                                    cam</span></span> - In a large oak in suburban Dallas <button id="rotate"
                                    class="btn buttons-light m-1">Rotate
                                    180</button></h1>
                        </div>
                        <div id="view" class="container-fluid col-10 col-md-8 ratio ratio-4x3">
                            <iframe width="640" height="480" src="https://rtsp.me/embed/B4ZEa2Na/" frameborder="0"
                                allowfullscreen></iframe>
                        </div>
                        <div>
                            <p align="center" class="pt-2">powered by <a href="https://rtsp.me"
                                    title='RTSP.ME - Free website RTSP video steaming service'
                                    target="_blank">rtsp.me</a>
                            </p>
                        </div>
                        <div class="row justify-content-center text-center m-3">
                            <div class="col-12" id="intro-text">
                                <p class="fs-5">Liking this site? Show your support here: <a
                                        href="https://www.paypal.com/donate/?hosted_button_id=RTSRK4NEX9UD8"
                                        target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                            fill="currentColor" class="bi bi-paypal" viewBox="0 0 16 16">
                                            <path
                                                d="M14.06 3.713c.12-1.071-.093-1.832-.702-2.526C12.628.356 11.312 0 9.626 0H4.734a.7.7 0 0 0-.691.59L2.005 13.509a.42.42 0 0 0 .415.486h2.756l-.202 1.28a.628.628 0 0 0 .62.726H8.14c.429 0 .793-.31.862-.731l.025-.13.48-3.043.03-.164.001-.007a.35.35 0 0 1 .348-.297h.38c1.266 0 2.425-.256 3.345-.91q.57-.403.993-1.005a4.94 4.94 0 0 0 .88-2.195c.242-1.246.13-2.356-.57-3.154a2.7 2.7 0 0 0-.76-.59l-.094-.061ZM6.543 8.82a.7.7 0 0 1 .321-.079H8.3c2.82 0 5.027-1.144 5.672-4.456l.003-.016q.326.186.548.438c.546.623.679 1.535.45 2.71-.272 1.397-.866 2.307-1.663 2.874-.802.57-1.842.815-3.043.815h-.38a.87.87 0 0 0-.863.734l-.03.164-.48 3.043-.024.13-.001.004a.35.35 0 0 1-.348.296H5.595a.106.106 0 0 1-.105-.123l.208-1.32z" />
                                        </svg></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>

    <footer id="footer" class="container-fluid bhf-light py-3 my-2">
        <div class="col-12">
            <div class="row justify-content-between">
                <div class="col-4 m-0 p-0 justify-content-start">
                    <a class="ms-2 navbar-brand" href="/#splash" aria-label="Back to top of home page" role="link">
                        <svg id="footer-logo" class="logo-light" xmlns="http://www.w3.org/2000/svg" height="45"
                            viewBox="0 0 500 300" version="1.1" stroke="none" fill="#000000" fill-rule="evenodd">
                            <path
                                d="M 261.672 71.819 C 259.567 72.848, 253.222 78.297, 247.572 83.928 C 241.921 89.560, 236.253 94.692, 234.976 95.333 C 232.273 96.691, 229.178 101.563, 229.073 104.628 C 229.033 105.798, 228.355 107.291, 227.566 107.945 C 225.939 109.296, 215 130.868, 215 132.726 C 215 133.393, 214.100 135.542, 213 137.500 C 211.900 139.458, 211 141.921, 211 142.971 C 211 144.022, 210.550 145.160, 210 145.500 C 209.450 145.840, 209 147.190, 209 148.500 C 209 149.810, 208.550 151.160, 208 151.500 C 207.450 151.840, 207 153.640, 207 155.500 C 207 157.360, 206.550 159.160, 206 159.500 C 205.450 159.840, 205 161.640, 205 163.500 C 205 165.360, 204.550 167.160, 204 167.500 C 202.660 168.328, 202.660 199.672, 204 200.500 C 204.550 200.840, 205 201.998, 205 203.073 C 205 209.099, 222.921 227, 228.954 227 C 229.859 227, 231.133 227.533, 231.785 228.185 C 241.024 237.424, 287 217.612, 287 204.391 C 287 203.761, 287.643 202.712, 288.428 202.060 C 297.552 194.487, 306.629 161.594, 301 156.500 C 299.900 155.505, 299 154.176, 299 153.548 C 299 147.913, 280.362 141.369, 277.500 146 C 277.160 146.550, 274.460 147, 271.500 147 C 268.540 147, 265.840 147.450, 265.500 148 C 265.160 148.550, 262.068 149, 258.628 149 C 253.081 149, 252.070 149.317, 249.687 151.805 C 242.451 159.358, 250.164 177, 260.703 177 C 263.066 177, 265 177.156, 265 177.346 C 265 178.433, 261.733 183.977, 260.479 185.017 C 259.666 185.692, 259 186.795, 259 187.467 C 259 188.140, 258.100 189.505, 257 190.500 C 255.900 191.495, 255 192.827, 255 193.459 C 255 195.769, 245.670 203, 242.688 203 C 237.904 203, 233.657 177.184, 238 174.500 C 238.550 174.160, 239 172.360, 239 170.500 C 239 168.640, 239.450 166.840, 240 166.500 C 240.550 166.160, 241 164.810, 241 163.500 C 241 162.190, 241.450 160.840, 242 160.500 C 242.550 160.160, 243 158.810, 243 157.500 C 243 156.190, 243.450 154.840, 244 154.500 C 244.550 154.160, 245 153.123, 245 152.196 C 245 150.006, 259.715 120.481, 261.577 118.936 C 262.360 118.287, 263 117.205, 263 116.533 C 263 115.860, 263.900 114.495, 265 113.500 C 266.100 112.505, 267 111.182, 267 110.561 C 267 108.879, 277.323 99, 279.081 99 C 282.479 99, 283 101.193, 283 115.488 C 283 130.193, 287.392 139, 294.725 139 C 295.911 139, 297.160 139.450, 297.500 140 C 299.954 143.971, 311 138.451, 311 133.254 C 311 132.079, 311.450 130.840, 312 130.500 C 312.550 130.160, 313 128.360, 313 126.500 C 313 124.640, 313.450 122.840, 314 122.500 C 316.385 121.026, 315.192 93.779, 312.507 88.390 C 305.198 73.723, 276.745 64.448, 261.672 71.819 M 129.500 72 C 129.160 72.550, 126.559 73, 123.720 73 C 114.004 73, 101.308 90.364, 108 94.500 C 108.550 94.840, 109 95.978, 109 97.029 C 109 98.079, 109.927 100.590, 111.061 102.609 C 112.514 105.196, 112.809 106.591, 112.061 107.339 C 111.477 107.923, 111 109.858, 111 111.641 C 111 113.424, 110.550 115.160, 110 115.500 C 109.450 115.840, 109 117.190, 109 118.500 C 109 119.810, 108.550 121.160, 108 121.500 C 107.450 121.840, 107 123.190, 107 124.500 C 107 125.810, 106.550 127.160, 106 127.500 C 105.450 127.840, 105 129.190, 105 130.500 C 105 131.810, 104.550 133.160, 104 133.500 C 103.450 133.840, 103 135.190, 103 136.500 C 103 137.810, 102.550 139.160, 102 139.500 C 101.450 139.840, 101 141.640, 101 143.500 C 101 145.360, 100.550 147.160, 100 147.500 C 99.450 147.840, 99 149.190, 99 150.500 C 99 151.810, 98.550 153.160, 98 153.500 C 97.450 153.840, 97 155.190, 97 156.500 C 97 157.810, 96.550 159.160, 96 159.500 C 95.450 159.840, 95 161.640, 95 163.500 C 95 165.360, 94.550 167.160, 94 167.500 C 93.450 167.840, 93 169.190, 93 170.500 C 93 171.810, 92.550 173.160, 92 173.500 C 91.450 173.840, 91 175.640, 91 177.500 C 91 179.360, 90.550 181.160, 90 181.500 C 89.450 181.840, 89 183.126, 89 184.359 C 89 185.592, 88.483 187.117, 87.850 187.750 C 77.157 198.443, 97.806 229.603, 115.455 229.407 C 123.855 229.313, 147.857 219.492, 152.060 214.428 C 152.712 213.643, 153.758 213, 154.384 213 C 155.857 213, 187 181.834, 187 180.361 C 187 179.747, 187.645 178.709, 188.434 178.055 C 190.297 176.509, 201 155, 201 152.802 C 201 151.876, 201.450 150.840, 202 150.500 C 202.550 150.160, 203 148.810, 203 147.500 C 203 146.190, 203.450 144.840, 204 144.500 C 204.610 144.123, 205 136.509, 205 125 C 205 113.491, 204.610 105.877, 204 105.500 C 203.450 105.160, 203 104.095, 203 103.134 C 203 97.780, 190.119 79, 186.447 79 C 185.822 79, 184.495 78.100, 183.500 77 C 182.505 75.900, 180.661 75, 179.404 75 C 178.147 75, 176.840 74.550, 176.500 74 C 176.160 73.450, 174.810 73, 173.500 73 C 172.190 73, 170.840 72.550, 170.500 72 C 170.122 71.388, 162.176 71, 150 71 C 137.824 71, 129.878 71.388, 129.500 72 M 366.232 73.467 C 363.885 74.708, 361.149 76.460, 360.153 77.361 C 359.157 78.263, 357.920 79, 357.402 79 C 356.093 79, 337 98.290, 337 99.613 C 337 100.205, 336.100 101.505, 335 102.500 C 333.900 103.495, 333 104.837, 333 105.481 C 333 106.125, 331.863 107.719, 330.474 109.024 C 327.575 111.748, 325 116.485, 325 119.095 C 325 120.078, 324.550 121.160, 324 121.500 C 323.450 121.840, 323 123.190, 323 124.500 C 323 125.810, 322.550 127.160, 322 127.500 C 321.450 127.840, 321 132.115, 321 137 C 321 141.885, 321.450 146.160, 322 146.500 C 322.550 146.840, 323 147.915, 323 148.890 C 323 153.834, 328.639 161.119, 345.646 178.146 C 360.942 193.460, 363.175 196.085, 362.053 197.436 C 358.813 201.340, 341.479 197.896, 336.960 192.452 C 336.297 191.653, 335.214 191, 334.552 191 C 333.890 191, 332.281 189.863, 330.976 188.474 C 326.419 183.624, 311.636 180.544, 309.500 184 C 309.160 184.550, 307.853 185, 306.596 185 C 303.864 185, 301 187.885, 301 190.636 C 301 196.703, 317.192 219, 321.599 219 C 322.235 219, 323.299 219.655, 323.963 220.456 C 329.353 226.951, 361.456 232.925, 364.500 228 C 364.840 227.450, 365.922 227, 366.905 227 C 372.065 227, 388.080 212.330, 392.542 203.516 C 399.249 190.268, 396.969 184.442, 377.464 164.989 C 367.819 155.370, 359.269 146.193, 358.464 144.596 C 356.788 141.272, 356.519 135.416, 358 134.500 C 358.550 134.160, 359 132.810, 359 131.500 C 359 130.190, 359.450 128.840, 360 128.500 C 360.550 128.160, 361 127.002, 361 125.927 C 361 122.452, 377.313 103, 380.228 103 C 381.837 103, 380.950 112.027, 379 115.500 C 377.900 117.458, 377 120.371, 377 121.971 C 377 123.572, 376.550 125.160, 376 125.500 C 370.308 129.018, 377.492 146.583, 386.736 151.750 C 393.836 155.718, 405 149.480, 405 141.544 C 405 140.728, 405.900 138.458, 407 136.500 C 408.100 134.542, 409 132.079, 409 131.029 C 409 129.978, 409.450 128.840, 410 128.500 C 410.550 128.160, 411 126.424, 411 124.641 C 411 122.858, 411.442 120.958, 411.983 120.417 C 414.254 118.146, 414.425 96.821, 412.212 91.999 C 405.212 76.745, 379.577 66.413, 366.232 73.467 M 148.250 107.707 C 147.563 109.188, 147 110.970, 147 111.669 C 147 112.368, 146.100 114.542, 145 116.500 C 143.900 118.458, 143 120.921, 143 121.971 C 143 123.022, 142.550 124.160, 142 124.500 C 141.450 124.840, 141 126.190, 141 127.500 C 141 128.810, 140.550 130.160, 140 130.500 C 139.450 130.840, 139 132.190, 139 133.500 C 139 134.810, 138.550 136.160, 138 136.500 C 137.450 136.840, 137 138.190, 137 139.500 C 137 140.810, 136.550 142.160, 136 142.500 C 135.450 142.840, 135 144.190, 135 145.500 C 135 146.810, 134.550 148.160, 134 148.500 C 133.450 148.840, 133 150.190, 133 151.500 C 133 152.810, 132.550 154.160, 132 154.500 C 131.450 154.840, 131 156.190, 131 157.500 C 131 158.810, 130.550 160.160, 130 160.500 C 129.450 160.840, 129 162.640, 129 164.500 C 129 166.360, 128.550 168.160, 128 168.500 C 127.450 168.840, 127 170.190, 127 171.500 C 127 172.810, 126.550 174.160, 126 174.500 C 125.450 174.840, 125 176.190, 125 177.500 C 125 178.810, 124.550 180.160, 124 180.500 C 123.450 180.840, 123 182.640, 123 184.500 C 123 186.360, 122.550 188.160, 122 188.500 C 121.094 189.060, 120.522 193, 121.346 193 C 122.433 193, 127.977 189.733, 129.017 188.479 C 129.692 187.666, 130.795 187, 131.467 187 C 132.140 187, 133.505 186.100, 134.500 185 C 135.495 183.900, 136.814 183, 137.430 183 C 138.857 183, 153 168.813, 153 167.381 C 153 166.792, 153.900 165.495, 155 164.500 C 156.100 163.505, 157 162.140, 157 161.467 C 157 160.795, 157.649 159.706, 158.443 159.048 C 160.307 157.501, 169 140.006, 169 137.801 C 169 136.876, 169.450 135.840, 170 135.500 C 172.968 133.666, 171.102 111.491, 167.702 108.196 C 162.988 103.627, 150.293 103.307, 148.250 107.707" />
                        </svg></a>
                    <a class="text-dark" target="_blank" href="https://www.davidgailsmith.com/"
                        aria-label="artist's website"><img id="avatar" src="./images/mural.jpg" class="rounded-3"
                            alt="Stylized artist avatar image"></a>

                    <a class="text-dark" target="_blank" href="https://www.dgs-creative.com/"
                        aria-label="artist's nft mint"><svg id="nft-logo" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 256 256"
                            xml:space="preserve" width="35" height="35" fill="#ff0000" class="logo-light">
                            <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill-rule: nonzero; opacity: 1;"
                                transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)">
                                <path
                                    d="M 45 90 c -1.206 0 -2.412 -0.311 -3.488 -0.931 L 8.58 70.054 c -2.152 -1.241 -3.488 -3.556 -3.488 -6.04 V 25.987 c 0 -2.485 1.337 -4.8 3.489 -6.041 L 41.512 0.932 c 2.152 -1.242 4.824 -1.243 6.977 0 L 81.42 19.945 c 2.151 1.241 3.488 3.556 3.488 6.041 v 38.027 c 0 2.485 -1.337 4.8 -3.489 6.041 L 48.488 89.068 C 47.412 89.689 46.206 90 45 90 z M 45 5.998 c -0.168 0 -0.336 0.043 -0.487 0.13 L 11.58 25.142 c -0.301 0.174 -0.488 0.498 -0.488 0.845 v 38.027 c 0 0.347 0.187 0.671 0.487 0.844 l 32.933 19.015 c 0.3 0.172 0.674 0.174 0.975 0 L 78.42 64.859 c 0.301 -0.174 0.487 -0.497 0.487 -0.845 V 25.987 c 0 -0.348 -0.187 -0.671 -0.486 -0.844 L 45.487 6.128 C 45.337 6.041 45.168 5.998 45 5.998 z"
                                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill-rule: nonzero; opacity: 1;"
                                    transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                                <path
                                    d="M 32.122 58.462 c -1.019 0 -1.992 -0.521 -2.549 -1.418 l -7.438 -11.983 v 10.401 c 0 1.657 -1.343 3 -3 3 c -1.657 0 -3 -1.343 -3 -3 V 34.538 c 0 -1.34 0.889 -2.518 2.177 -2.885 c 1.292 -0.365 2.666 0.165 3.372 1.303 l 7.438 11.983 V 34.538 c 0 -1.657 1.343 -3 3 -3 c 1.657 0 3 1.343 3 3 v 20.924 c 0 1.34 -0.889 2.518 -2.177 2.885 C 32.672 58.425 32.395 58.462 32.122 58.462 z"
                                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill-rule: nonzero; opacity: 1;"
                                    transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                                <path
                                    d="M 42.236 58.462 c -1.657 0 -3 -1.343 -3 -3 V 34.538 c 0 -1.657 1.343 -3 3 -3 h 8.321 c 1.657 0 3 1.343 3 3 s -1.343 3 -3 3 h -5.321 v 17.924 C 45.236 57.119 43.893 58.462 42.236 58.462 z"
                                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill-rule: nonzero; opacity: 1;"
                                    transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                                <path
                                    d="M 50.557 48 h -8.321 c -1.657 0 -3 -1.343 -3 -3 c 0 -1.657 1.343 -3 3 -3 h 8.321 c 1.657 0 3 1.343 3 3 C 53.557 46.657 52.214 48 50.557 48 z"
                                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill-rule: nonzero; opacity: 1;"
                                    transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                                <path
                                    d="M 70.865 37.538 H 58.974 c -1.657 0 -3 -1.343 -3 -3 s 1.343 -3 3 -3 h 11.891 c 1.657 0 3 1.343 3 3 S 72.522 37.538 70.865 37.538 z"
                                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill-rule: nonzero; opacity: 1;"
                                    transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                                <path
                                    d="M 64.919 58.462 c -1.657 0 -3 -1.343 -3 -3 V 34.538 c 0 -1.657 1.343 -3 3 -3 c 1.657 0 3 1.343 3 3 v 20.924 C 67.919 57.119 66.577 58.462 64.919 58.462 z"
                                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill-rule: nonzero; opacity: 1;"
                                    transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                            </g>
                        </svg></a>
                </div>
                <div class="col-4 m-0 p-0 justify-content-center text-center">
                    <img id="vob" src="./images/VOB-logo-transparent.png" class="rounded-3"
                        alt="Veteran-owned business emblem">
                    <div class="ms-1 ps-1 mb-md-0">&copy; 2024 - DGS Creative, LLC</div>
                </div>
                <div class="nav col-4 m-0 p-0 justify-content-end">
                    <ul class="list-unstyled d-flex">
                        <li class="ms-2"><a class="d-none text-dark" target="_blank"
                                href="https://discord.gg/4zkJ6eeUm6" aria-label="discord">
                                <svg id="discord-logo" xmlns="http://www.w3.org/2000/svg" height="35" fill="#00cc00"
                                    class="logo-light bi bi-discord" viewBox="0 0 16 16">
                                    <path
                                        d="M13.545 2.907a13.2 13.2 0 0 0-3.257-1.011.05.05 0 0 0-.052.025c-.141.25-.297.577-.406.833a12.2 12.2 0 0 0-3.658 0 8 8 0 0 0-.412-.833.05.05 0 0 0-.052-.025c-1.125.194-2.22.534-3.257 1.011a.04.04 0 0 0-.021.018C.356 6.024-.213 9.047.066 12.032q.003.022.021.037a13.3 13.3 0 0 0 3.995 2.02.05.05 0 0 0 .056-.019q.463-.63.818-1.329a.05.05 0 0 0-.01-.059l-.018-.011a9 9 0 0 1-1.248-.595.05.05 0 0 1-.02-.066l.015-.019q.127-.095.248-.195a.05.05 0 0 1 .051-.007c2.619 1.196 5.454 1.196 8.041 0a.05.05 0 0 1 .053.007q.121.1.248.195a.05.05 0 0 1-.004.085 8 8 0 0 1-1.249.594.05.05 0 0 0-.03.03.05.05 0 0 0 .003.041c.24.465.515.909.817 1.329a.05.05 0 0 0 .056.019 13.2 13.2 0 0 0 4.001-2.02.05.05 0 0 0 .021-.037c.334-3.451-.559-6.449-2.366-9.106a.03.03 0 0 0-.02-.019m-8.198 7.307c-.789 0-1.438-.724-1.438-1.612s.637-1.613 1.438-1.613c.807 0 1.45.73 1.438 1.613 0 .888-.637 1.612-1.438 1.612m5.316 0c-.788 0-1.438-.724-1.438-1.612s.637-1.613 1.438-1.613c.807 0 1.451.73 1.438 1.613 0 .888-.631 1.612-1.438 1.612" />
                                </svg></a></li>
                        <li class="ms-2"><a class="text-dark" target="_blank" href="https://twitter.com/DavidGailSmith"
                                aria-label="artist's twitter"><svg id="twitter-logo" xmlns="http://www.w3.org/2000/svg"
                                    width="35" height="35" fill="#00cc00" class="logo-light bi bi-twitter"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z" />
                                </svg></a></li>
                        <li class="ms-2"><a class="text-dark" target="_blank"
                                href="https://www.instagram.com/davidgailsmith/?hl=en"
                                aria-label="artist's instagram"><svg id="insta-logo" xmlns="http://www.w3.org/2000/svg"
                                    width="35" height="35" fill="#00cc00" class="logo-light bi bi-instagram"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z" />
                                </svg></a></li>
                        <li class="ms-2 me-2"><a class="text-dark" target="_blank"
                                href="https://www.facebook.com/davidgailsmith/" aria-label="artist's facebook"><svg
                                    id="fb-logo" xmlns="http://www.w3.org/2000/svg" width="35" height="35"
                                    fill="#00cc00" class="logo-light bi bi-facebook" viewBox="0 0 16 16">
                                    <path
                                        d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
                                </svg></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="./js/owl.js"></script>
</body>

</html>