<div class="card m-0 p-0 h-100 fadein shadow-lg">
  <img src="<%=image %>" class="proj-img card-img-top h-100 p-0" alt="An image of the <%= name %> project">
  <div class="title-box border-0">
    <div class="card-title col text-center border-0">
      <p class="h4 m-1 p-0">
        <strong>
          <%= name %>
        </strong>
      </p>
    </div>
  </div>
  <div class="card-footer p-0 border-0">
    <a href="/#single-project-area"><button id="b-<%= ident %>"
        class="buttons-light project-link btn mb-2 btn-outline-light">Select Project</button></a>
  </div>
</div>